<!-- src/app/login/login.component.html -->
<div [hidden]="!errorMessage" class="alert alert-danger">
 <strong>¡Error!</strong> {{errorMessage}}
</div>

<form [hidden]="loading" (submit)="login()" #loginForm="ngForm">
	 <div class="form-group">
		 <label for="email">Email</label>
		 <input [(ngModel)]="credentials.email" class="form-control"
		type="email" name="email" id="email" placeholder="Email" required />
	 </div>
	 <div class="form-group">
		 <label for="password">Password</label>
		 <input [(ngModel)]="credentials.password" class="form-control"
		type="password" name="password" id="password" placeholder="Password"
		required />
	 </div>
	 <button type="submit"
	[disabled]="!loginForm.form.valid">Login</button>
</form>
<div [hidden]="!loading">Autenticando...</div>