<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">{{title}}</a>
  <div *ngIf="sessionService.isLoggedIn()" class="nav-text ml-auto">
  Hola {{sessionService.getUser().name}}</div>
  <ul class="navbar-nav"  [class.mlauto]="!sessionService.isLoggedIn()">
    <li class="nav-item">
        <a *ngIf="!sessionService.isLoggedIn(); else logoutLink"
		class="nav-link" routerLink="/login">Login</a>
		<ng-template #logoutLink>
		  <a class="nav-link" (click)="logout()">Logout</a>
		</ng-template>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>